<a href="https://colab.research.google.com/github/M4itreya/Elective-1-2/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Indentation

In [ ]:
if 5>2:
  print("Five is greater than two")
else:
    print("Two is less than five")

In [ ]:
if 2>5: #A comparison for the numbers 2 and 5
  print("Five is greater than two")
else:
    print("Two is less than five")

Two is less than five

In [ ]:
x = 'Stella'
y = -4.56

print(x)
print(y)

Stella
-4.56

In [ ]:
x = 'Stella'
y = -4.56

print(type(x))
print(type(y))

<class 'str'>
<class 'float'>